a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
}


.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav a.active {
    border-bottom: 1px solid red;
}